/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Be Vietnam", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Be Vietnam", sans-serif;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container-about {
  max-width: 1100px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  min-height: 6vh;
  background-color: white;
  padding-top: 2%;
}
@media (max-width:500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
nav img {
  margin-left: 2%;
}
.navigation {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
  margin-top: 20px;
  margin-right: 25%;
}
@media (max-width:500px) {
  .navigation {
    text-align: center;
    margin: 0;
  }
}
@media (max-width:800px) {
  .navigation {
    margin: 3%;
  }
  .navigation h2 {
    font-size: 2.5rem;
  }
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-top: 35px;
  margin-right: 4%;
}
@media (max-width:500px) {
  .nav-links {
    display: flex;
    align-content: center;
    width: 100%;
  }
}
@media (max-width:800px) {
  .nav-links {
    width: 100%;
    margin: 4%;
  }
}
.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #635f5f;
}
.about-nav {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  min-height: 6vh;
  background-color: white;
}
@media (max-width:500px) {
  .about-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about-nav img {
  margin-left: 2%;
}
.navigation {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
  margin-top: 20px;
  margin-right: 25%;
}
@media (max-width:500px) {
  .navigation {
    text-align: center;
    margin: 0;
  }
}
@media (max-width:800px) {
  .navigation {
    margin: 3%;
  }
  .navigation h2 {
    font-size: 2.5rem;
  }
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-top: 35px;
  margin-right: 4%;
}
@media (max-width:500px) {
  .nav-links {
    display: flex;
    align-content: center;
    width: 100%;
  }
}
@media (max-width:800px) {
  .nav-links {
    width: 100%;
    margin: 4%;
  }
}
.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #635f5f;
}
footer {
  width: 100%;
  background-color: #1b79e7;
}
footer p {
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
  color: #f3c58e;
}
@media (max-width:500px) {
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
  }
  .icons {
    display: flex;
    width: 100%;
  }
}
#bottom-section-about {
  margin-top: 5%;
}
#bottom-section-about p {
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
.main-btnbox {
  margin-top: 10%;
  margin-right: 13%;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .main-btnbox {
    width: 100%;
    display: flex;
    align-content: center;
    margin: 0;
    margin-right: 5%;
  }
}
@media (max-width:800px) {
  .main-btnbox .main-btnbox {
    font-size: 2rem;
  }
}
.main-btnbox button {
  display: block;
  width: 100%;
  border: none;
  background-color: #e7891b;
  color: #1010a7;
  padding: 14px 28px;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-btnbox button:hover {
  background-color: #1b79e7;
  color: #f3c58e;
}
.main-btnbox .btn {
  font-size: 2rem;
}
@media (max-width:500px) {
  .main-btnbox .btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    padding: 10%;
  }
}
.main-btnbox a {
  text-decoration: none;
}
@media (max-width:500px) {
  .main-btnbox a {
    text-align: center;
  }
}
.top-content {
  display: flex;
}
@media (max-width:500px) {
  .top-content h1 {
    font-size: 2rem;
    text-align: center;
    margin: 5%;
    width: 100%;
  }
  .top-content img {
    display: none;
  }
}
@media (max-width:800px) {
  .top-content h1 {
    font-size: 2rem;
  }
}
.top-content img {
  width: 55%;
  margin: 2%;
  border-radius: 10px;
}
.top-content .main-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 6%;
  margin-right: 8%;
}
@media (max-width:500px) {
  .top-content .main-text {
    margin: 0;
  }
}
.mid-content {
  display: flex;
  background-color: #1b79e7;
  /*@media @tablet {
    margin-top: 5%;
    div.card {
      width: 100%;
      height: 50vh;
    }
  }*/
}
@media (max-width:500px) {
  .mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
  }
}
div .card {
  width: 80%;
  margin: 2%;
  border-radius: 10px;
}
@media (max-width:500px) {
  div .card p {
    font-size: 1.8rem;
    text-align: center;
  }
  div .card h2 {
    font-size: 3rem;
    margin-bottom: 8%;
    margin-top: 7%;
  }
}
div .card p {
  text-align: justify;
  color: #f3c58e;
  size: 1.2 rem;
}
div .card h2 {
  color: #f3c58e;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
}
div .card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about-title {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  color: black;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width:800px) {
  .row div .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2%;
  }
}
@media (max-width:500px) {
  .row {
    display: flex;
    align-content: center;
  }
}
.row .card-body {
  text-align: center;
}
.row .card-body h3 {
  font-size: 2.5rem;
}
.row .card-body p {
  font-size: 1.8rem;
  text-align: center;
  color: black;
}
.row .icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.row li {
  font-size: 1.8rem;
  text-align: center;
  color: black;
}
.card-title {
  margin: 2%;
}
#team-img {
  border-radius: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#team-img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}
