//top-content
.main-btnbox {
  width: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin-right: 2%;
  margin-bottom: 6%;
  button {
    width: 100%;
    margin: 2%;
    margin-top: 15%;
    height: 51%;
    border-radius: 10px;
    background-color: #e7891b;
    &:hover {
      background-color: @light-orange;
      color: black;
    }
  }

  .btn {
    font-size: 2rem;
  }
}

.top-content {
  display: flex;
  img {
    width: 55%;
    margin: 2%;
    border-radius: 10px;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6%;
    margin-right: 8%;
  }
}

//Mid-content

.mid-content {
  display: flex;
  background-color: @blue;
}

.card {
  margin: 23px;
  box-sizing: border-box;
  border-radius: 10px;
  p {
    text-align: justify;
    color: @light-orange;
  }
  h2 {
    color: @light-orange;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
