//-------------------------------TOP-CONTENT----------------------->
.main-btnbox {
  width: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin-right: 2%;
  margin-bottom: 6%;

  @media @mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 16%;
    margin-top: 8%;
  }

  button {
    width: 100%;
    margin: 2%;
    margin-top: 15%;
    height: 51%;
    border-radius: 10px;
    background-color: #e7891b;
    &:hover {
      background-color: @light-orange;
      color: black;
    }
  }

  .btn {
    font-size: 2rem;

    @media @mobile {
      width: 80%;
      font-size: 3rem;
      margin: 5%;
    }
  }
}

.top-content {
  display: flex;

  @media @mobile {
    h1 {
      font-size: 2rem;
      text-align: center;
      margin: 5%;
      width: 100%;
    }
    img {
      display: none;
    }
  }

  @media @tablet {
    h1 {
      font-size: 2rem;
    }
  }

  img {
    width: 55%;
    margin: 2%;
    border-radius: 10px;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6%;
    margin-right: 8%;
  }
}

//----------------------------------------MID-CONTENT------------------------------------->

.mid-content {
  display: flex;
  background-color: @blue;

  @media @mobile {
    display: flex;
    flex-direction: column;
  }
}

.card {
  margin: 23px;
  box-sizing: border-box;
  border-radius: 10px;

  // ***********MOBILE VIEW FOR CARDS STARTS HERE---------->
  @media @mobile {
    p {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 8%;
      margin-top: 7%;
    }
  }

  //*****MOBILE VIEW FOR CARDS ENDS HERE <-------------------

  p {
    text-align: justify;
    color: @light-orange;
  }
  h2 {
    color: @light-orange;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
